.history-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 15px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.panel {
    display: flex;
    height: 262px;
    justify-content: space-between;
}

.item-panel-enter {
    opacity: 0;
}
.item-panel-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}
.item-panel-exit {
    opacity: 1;
}
.item-panel-exit-active {
    display: none;
    opacity: 0;
    transition: opacity 200ms ease-in;
}
