.numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.numbers div {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
    transition: border-color 0.2s ease-in-out, background-color 0.2s,
        box-shadow 0.2s;
}

.numbers div:hover {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
}

.numbers div:active {
    font-weight: bold;
}
