.operators {
    display: flex;
    justify-content: space-between;
}

.operators div {
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: #ddd;
    transition: border-color 0.2s ease-in-out, background-color 0.2s,
        box-shadow 0.2s;
}

.operators div:hover {
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
}

.operators div:active {
    font-weight: bold;
}
