@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    width: 500px;
    margin: 4% auto;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
